<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxtech.ess.module.base.mapper.BaseDeptManagerMapper">
  <!-- 开启redis二级缓存 -->
  <cache type="com.zxtech.platform.utils.cache.mybatis.redis.RedisCache" />
  
  <sql id="querySql">
  select _temp.* from (
	SELECT
		t2.comp_name,
		t3.dict_name status,
		t1.region_state_name as state,
		t1.region_province_name as province,
		t1.region_city_name as city,
		t1.region_district_name as district,
		t8.dict_name dept_type_name,
		t9.emp_name dept_mgr_name,
		t1.*
	FROM
		base_dept t1 WITH(NOLOCK)
	LEFT JOIN base_company t2 WITH(NOLOCK) ON t2.id = t1.comp_id
	LEFT JOIN sys_dictionary t3 WITH(NOLOCK) ON t1.enable_flag = t3.dict_value AND t3.dict_type = 'enable_flag'
	LEFT JOIN sys_dictionary t8 WITH(NOLOCK) ON t8.dict_value = t1.dept_type AND t8.dict_type = 'dept_type'
	LEFT JOIN base_employee t9 WITH(NOLOCK) ON t9.emp_code = t1.dept_manager
	where 1 = 1 
  	<if test="comp_id != null">
  		and t1.comp_id = #{comp_id}
  	</if>
  	<if test="@org.apache.commons.lang3.StringUtils@isNotBlank( comp_name )">
  		<bind name="like_comp_name" value="'%' + comp_name + '%'" />
  		and t2.comp_name like #{like_comp_name}
  	</if>
  	<if test="@org.apache.commons.lang3.StringUtils@isNotBlank( dept_name )">
  		<bind name="like_dept_name" value="'%' + dept_name + '%'" />
  		and t1.dept_name like #{like_dept_name}
  	</if>
  	<if test="p_dept_id != null">
  		and t1.p_dept_id = #{p_dept_id}
  	</if>
  	<if test="dept_id != null">
  		and t1.id != #{dept_id}
  	</if>
  	<if test="enable_flag != null">
  		and t1.enable_flag = #{enable_flag}
  	</if>
  	<if test="compIdList != null and compIdList.size() > 0 ">
		and t1.comp_id in <foreach close=")" collection="compIdList" item="item" open="(" separator=",">#{item}</foreach>
	</if>
	<if test="statIdList != null and statIdList.size() > 0">
		and exists(select 1 from base_station bs WITH(NOLOCK) where bs.comp_id = t1.comp_id and bs.id in <foreach close=")" collection="statIdList" item="item" open="(" separator=",">#{item}</foreach>)
	</if>
	<if test="areaIdList != null and areaIdList.size() > 0">
		and exists(select 1 from base_area ba WITH(NOLOCK) where ba.comp_id = t1.comp_id and ba.id in <foreach close=")" collection="areaIdList" item="item" open="(" separator=",">#{item}</foreach>)
	</if>
  	) _temp
	<where>
		<if test="@org.apache.commons.lang3.StringUtils@isNotBlank( query_helper )">
			${query_helper}
		</if>
	</where>
  	order by _temp.create_timestamp desc
  </sql>
  
  <select id="getListWithPaging" resultType="java.util.HashMap" parameterType="com.zxtech.ess.module.base.bean.BaseDeptSearchBean">
	<include refid="querySql"></include>
  </select>
  
  <select id="getReportList" resultType="java.util.HashMap" parameterType="com.zxtech.ess.module.base.bean.BaseDeptSearchBean"
  	useCache="false" timeout="5000">
	<include refid="querySql"></include>
  </select>
</mapper>